<main id="main" class="main">
  <div class="pagetitle">
    <h1>Ma Soutenance</h1>
  </div>
  <!-- End Page Title -->
  <style></style>

  <section class="section">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <table class="table datatable">
            <thead>
              <tr>
                <th scope="col">binôme</th>
                <th scope="col">Théme</th>
                <th scope="col">Jury</th>
                <th scope="col">Local</th>
                <th scope="col">Créneau</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>Nom Prénom</div>
                  <div>Nom Prénom</div>
                </td>
                <td>
                  <div>planification des soutenance</div>
                </td>

                <td>
                  <div>Président du jury</div>
                  <div>Examinateur 1</div>
                  <div>Examinateur 2</div>
                  <div>Encadrant</div>
                </td>
                <td>
                  <div>Salle</div>
                </td>
                <td>
                  <div>Date du créneau</div>
                  <div>Heure de début</div>
                  <div>Heure de fin</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->