<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h2>Mes soutenances</h2>

            <table class="table datatable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Date</th>
                  <th>Locale</th>
                  <th>Binôme</th>
                  <th>Intitulé</th>
                  <th>Spécialité</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>12/06/2024</td>
                  <td>B8S11</td>
                  <td>
                    Amroud Fares
                    <br />
                    Aiche Youva
                  </td>
                  <td>Planification des soutenances</td>
                  <td>GL</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
