.popup {
  width: 40%;
  top: 100px;
  left: 40%;
  position: absolute;
  z-index: 111;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.4s ease;
  background: gainsboro;
}
#popup-add {
  min-width: 40%;
  top: 40%;
  left: 40%;
  position: absolute;
  z-index: 1000;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.4s ease;
  background: rgb(204, 201, 201);
}
#popup-error {
  min-width: 40%;
  top: 40%;
  left: 40%;
  position: absolute;
  z-index: 1000;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.4s ease;
  background: rgb(176, 69, 69);
}
#popup-add i {
  color: green;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: white;
}
#popup-error i {
  color: red;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: white;
}
#popup-add p {
  color: green;
  font-size: 20px;
}
#popup-error p {
  color: white;
  font-size: 20px;
}
.popup i {
  color: red;
  font-size: 24px;
  padding: 3px 15px;
  background-color: white;
  border-radius: 7px;
}
#selected-t {
  display: none;
}
.selected {
  background-color: rgb(87, 193, 87);
}
.disabled-link {
  pointer-events: none;
}
.loader {
  padding: 40px;
  height: 200px;
  width: 400px;
  background-color: white;
  left: 47%;
  top: 50%;
  position: absolute;
  border-radius: 15px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -1px -3px 18px -8px rgba(66, 68, 90, 1);
  z-index: 1000;
}
.loader p {
  font-weight: bold;
}
